* {
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'TT Commons';
    src: local('TT Commons  Medium'), local('TT-Commons--Medium'),
        url('/fons/TTCommons-Medium.woff2') format('woff2'),
        url('/fons/TTCommons-Medium.woff') format('woff'),
        url('/fons/TTCommons-Medium.ttf') format('truetype');
}

body {
    background-color: #0a0a0a;
    color: white;
    font-family: 'TT Commons';
    width: 100%;
    height: 100%;
}

.container {
    max-width: 980px;
    margin: auto;
}

header {
    padding: 10px;
    background-color: #19191a;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    border-bottom: 1px solid rgb(54, 52, 52);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* Блоки для шапки */
.content_header {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    align-items: center
}

.block_left_header {}

.block_right_header {}

.btn_login {
    user-select: none;
    width: 100px;
    height: auto;
    padding: 5%;
    background-color: white;
    border-radius: 12PX;
    color: black;
    font-size: 18PX;
    margin: 1%;
    border: 1px solid white;
}

.btn_login:hover {
    border-color: black;
}

.btn_login:active {
    background: rgb(43, 41, 41);
    border-color: white;
    color: white;
}

/* Основные блоки */
.content_main {
    display: flex;
    flex-wrap: wrap;
}

/* Левый блок */
.block_left_main {
    width: 38%;
}

/* Блок профиля */
.block_profile {
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    background-color: #19191a;
    border-radius: 15px;
    border: 1px solid rgb(54, 52, 52);
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* width: 260px; */
    min-width: 135px;
}

/* Блоки профиля - "баланс" */
.Title_name {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

/* Блоки профиля - баланс(Валюта) */
.Money_balans {
    text-align: center;
    display: flex;
    margin-top: 10px;
    font-size: 20px;
    padding: 1%;
    font-size: 20px;
}

.money_rub {
    border-radius: 10px;
    background-color: #232324;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 5%;
    width: 47%;
}

.balans_iq {
    background-color: #232324;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 47%;
}

/* Блоки профиля - кнопки */
.btn_deposit-Wit {
    text-align: center;
    color: #71aaeb;
    margin-top: 5px;
    display: flex;
    padding: 1%;
    font-size: 20px;

}

/* Картинка в кнопках */
.img_btn {
    color: #71aaeb;
    padding-left: 10px;
    content: "";
    width: 30px;
    height: auto;
}

/* Депозит */
.btn_deposit {
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    background-color: #232324;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 47%;
    margin-right: 5%;

}

/* вывод */
.btn_Withdraw {
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #232324;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 47%;
}

/* Наведение на выбод депозит */
.btn_deposit:hover,
.btn_Withdraw:hover {
    transition: all 0.2s;
    background-color: #454647;
    cursor: pointer;
}

.btn_deposit span,
.btn_Withdraw span {
    margin-left: 10px;
}

.Profile span,
.Top span,
.more span {
    margin-left: 10px;
    padding: 1%;
}

/* кнопки ниже */
.block_button {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
}

.block_button :hover,
.mobile_block_button :hover {
    transition: all 0.2s;
    background-color: #454647;
    cursor: pointer;
}

.btn_class {
    border-radius: 15px;
    margin-top: 10px;
    padding: 1%;
    align-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.online {
    text-align: center;
    margin-top: 35px;
    animation: both;
}

.mobile_block_button {
    height: 38px;
    display: none;
}


/* Адоптация */
@media (max-width: 1000px) {
    .block_left_header {
        white-space: nowrap;
        font-size: 30px;
    }

    .block_left_header {
        margin-right: 15px;
    }

    .container {
        width: 100%;
    }

    .content_header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around
    }

    .btn_deposit span,
    .btn_Withdraw span {
        display: none;
    }

    .btn_deposit,
    .btn_Withdraw {
        justify-content: center
    }

    .mobile_block_button {
        margin-top: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #232324;
        border-radius: 10px;
    }

    .block_button {
        display: none;
    }
}

@media (max-width: 401px) {
    .content_header {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
/*Правое поле*/
.block_right_main{
    width: 60%;
}
.block_game{
    margin-left: 2%;
    padding: 5%;
    background-color: #19191a;
    border: 1px solid rgb(54, 52, 52);
    font-size: 20px;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 640px;
    min-width: 140px;
}
/*Блок с названием*/
.title_block{
    display: flex;
    align-items: baseline;
}
.Style_title_name{
    padding: 0 16px;
    font-size: 15px;
    line-height: 16px;
    color: #76787A;
}
/*Блок с рекламой*//*Блок с рекламой*/
.block_ads-video{
    margin-top: 15px;
    height: auto;
    width: 100%;
    background: linear-gradient(90deg, rgb(105, 115, 255) 0%, rgb(64, 175, 252) 100%);
    border-radius: 8px;
}
/*Сонтент в блоке рекламы*/
.content_block_ad{
padding: 3%;
}
/*Название в блоке рекламы*/
.Title_block_ads{
    color: white;
}
/*Текст после названия В блоке рекламы*/
.h1_block_ad{
    margin-top: 2px;
    font-size: 14px;
    opacity: .72;
    line-height: 18px;
}
/*Кнопка смотреть В блоке рекламы*/
.Btn_ad{
    text-align: center;
    margin-top: 10px;
    color: #2c2d2e;
    padding: 1%;
    background: white;
    width: 100px;
    font-size: 18px;
    border-radius: 8px;
    user-select: none;
}
.Btn_ad :active{
    opacity: 0.4;
}
/*Адоптация правого блока*/
@media (max-width: 1000px) {
    .block_right_main{
        margin-left: 1%;
        width: 50%;
    }
    .content_main{
        justify-content: center
    }
}
@media (max-width: 500px) {
    .content_main{
        display: flex;
        flex-wrap: wrap
    }
    .block_left_main{
        width: 98%;
        padding: 1%;
    }
    .block_right_main{
        width: 98%;
        padding: 1%;
    }
    .block_game{
        margin-left: 0%;
    }
    .Btn_ad{
        text-align: center;
        width: 100%;
        padding: 0%
    }
    .Title_block_ads{
        text-align: center;
    }
    .Style_title_name{
        justify-content: center
    }
    
}