*{
    margin: 0;
    padding: 0;
    outline: none;
}
@font-face {
    font-family: 'TT Commons';
    src: local('TT Commons  Medium'), local('TT-Commons--Medium'),
        url('/fons/TTCommons-Medium.woff2') format('woff2'),
        url('/fons/TTCommons-Medium.woff') format('woff'),
        url('/fons/TTCommons-Medium.ttf') format('truetype');
    }
body{
    background-color: #0a0a0a;
    color: white;
    font-family: 'TT Commons';
    width: 100%;
    height: 100%;
}
.container{
    max-width: 980px;
    margin: auto;
}
header{
    padding: 10px;
    background-color: #19191a;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    border-bottom:1px solid rgb(54, 52, 52);
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-width: 310px;
}

/* Блоки для шапки */
.content_header{
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    align-items: center
}
.block_left_header{
}
.block_right_header{

}
.btn_login{
    user-select:none;
    width: 100px;
    height: auto;
    padding: 5%;
    background-color: white;
    border-radius: 12PX;
    color: black;
    font-size: 18PX;
    margin: 1%;
    border: 1px solid white;
}
.btn_login:hover{
    border-color: black;
}
.btn_login:active{
    background: rgb(43, 41, 41);
    border-color: white;
    color: white;
}
/* Основные блоки */
.content_main{
    display: flex;
    flex-wrap: wrap;
}
/* Левый блок */
.block_left_main{
    width: 38%;
}
/* Блок профиля */
.block_profile {
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    background-color: #19191a;
    border-radius: 15px;
    border: 1px solid rgb(54, 52, 52);
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    min-width: 135px;
}
/* Блоки профиля - "баланс" */
.Title_name {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}
/* Блоки профиля - баланс(Валюта) */
.Money_balans {
    text-align: center;
    display: flex;
    margin-top: 10px;
    font-size: 20px;
    padding: 1%;
    font-size: 20px;
}
.money_rub {
    border-radius: 10px;
    background-color: #232324;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 5%;
    width: 47%;
}
.balans_iq {
    background-color: #232324;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 47%;
}
/* Блоки профиля - кнопки */
.btn_deposit-Wit {    
    text-align: center;
    color: #71aaeb;
    margin-top: 5px;
    display: flex;
    padding: 1%;
    font-size: 20px;

}
    /* Картинка в кнопках */
.img_btn{
    color: #71aaeb;
    padding-left: 10px;
    content: "";
    width: 30px;
    height: auto;
}
    /* Депозит */
.btn_deposit {
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    background-color: #232324;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 47%;
    margin-right: 5%;
    
}
    /* вывод */
.btn_Withdraw {
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #232324;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 47%;
}
    /* Наведение на выбод депозит */
.btn_deposit:hover ,.btn_Withdraw:hover {
    transition: all 0.2s;
    background-color: #454647;
    cursor: pointer;
}
.btn_deposit span , .btn_Withdraw span{
    margin-left: 10px;
}
.Profile span, .Top span , .more span{
    margin-left: 10px;
    padding: 1%;
}
    /* кнопки ниже */
.block_button div{
    display: flex;
    /* выбавнивание */
    align-items: center;
    border-radius: 15px;
    padding: 1%;
    height: 50px;
}
.block_button:hover , .mobile_block_button:hover {
    transition: all 0.2s;
    background-color: #454647;
    cursor: pointer;
}
.Profile{
    margin-top: 10px;
}
.Top {
}
.more {
}
.online {
    text-align: center;
    margin-top: 12px;
}
.mobile_block_button{
    height: 38px;
    display: none;
}
    /* Адоптация */
    @media (max-width: 1000px){
        .block_left_header{
            white-space: nowrap;
            font-size: 30px;
        }
        .block_left_header{
            margin-right: 15px;
        }
        .container{
            width: 90%;
        }
        .content_header {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-around
        }
        .btn_deposit span , .btn_Withdraw span{
            display: none;
        }
        .btn_deposit, .btn_Withdraw{
            justify-content: center
        }
        .mobile_block_button{
            margin-top: 10px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            background-color: #232324;
            border-radius: 10px;
        }
        .block_button{
            display: none;
        }
    }
    /* @media (max-width: 401px){
        .content_header {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }
    } */